### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [55]:
# Dependencies and Setup
import pandas as pd
import numpy as np

In [56]:
# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [57]:
# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [58]:
# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [59]:
# Find the school names
school_data_complete["school_name"]. value_counts()

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [60]:
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [61]:
total_school_1 = school_data_complete ['school_name'].nunique()
print(total_school_1)

15

In [62]:
total_student_1 = school_data_complete ['student_name'].nunique()
print(total_student_1)

32715

In [63]:
total_budget_1 = school_data_complete ['budget'].sum()
print(total_budget_1)

82932329558

## District Summary

* Calculate the total number of schools = Sweet

* Calculate the total number of students = Sweet

* Calculate the total budget = Sweet

* Calculate the average math score = Sweet 

* Calculate the average reading score =Sweet

* Calculate the percentage of students with a passing math score (70 or greater) = Sweet

* Calculate the percentage of students with a passing reading score (70 or greater) = Sweet

* Calculate the percentage of students who passed math **and** reading (% Overall Passing) =Sweet

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [64]:
total_student = school_data_complete["student_name"].count()
(total_student)

39170

In [65]:
average_math_score = school_data_complete["math_score"].mean()
print (average_math_score)

78.98537145774827

In [66]:
average_reading_score = school_data_complete["reading_score"].mean()
print (average_reading_score)

81.87784018381414

In [67]:
math_pass = school_data_complete.loc[school_data_complete["math_score"]>=70]["math_score"].count()
print (math_pass)

29370

In [68]:
math_p = math_pass/total_student
print (math_p)

0.749808526933878

In [69]:
reading_pass = school_data_complete.loc[school_data_complete["reading_score"]>=70]["reading_score"].count()
print (reading_pass)

33610

In [70]:
 reading_p = reading_pass/total_student
print (reading_p)

0.8580546336482001

In [71]:
overall_p = (math_p+reading_p)/2
print(overall_p)

0.8039315802910391

In [72]:
district_synopsis = pd.DataFrame({"Total Schools": [total_school_1], "Total Students":[total_student_1], 
                                   "Total Budget":[total_budget_1], "Average Math Score":[math_p], 
                                   "Average Reading Score":[reading_p], "% Passing Math" :[average_math_score],
                                   "% Passing Reading": [average_reading_score], "% Overall Passing": [overall_p]})

district_synopsis["Total Students"] = district_synopsis["Total Students"].map("{:,}".format)
district_synopsis["Total Budget"] = district_synopsis["Total Budget"].map("${:.2f}".format)
district_synopsis["Average Math Score"] = district_synopsis["Average Math Score"]*100
district_synopsis["Average Math Score"] = district_synopsis["Average Math Score"].map("%{:.2f}".format)
district_synopsis["Average Reading Score"] = district_synopsis["Average Reading Score"]*100
district_synopsis["Average Reading Score"] = district_synopsis["Average Reading Score"].map("%{:.2f}".format)
district_synopsis["% Passing Math"] = district_synopsis["% Passing Math"].map("%{:.2f}".format)
district_synopsis["% Passing Reading"] = district_synopsis["% Passing Reading"].map("%{:.2f}".format)
district_synopsis["% Overall Passing"] = district_synopsis["% Overall Passing"]*100
district_synopsis["% Overall Passing"] = district_synopsis["% Overall Passing"].map("%{:.2f}".format)

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [80]:
school_group_df = school_data.set_index("school_name").groupby (["school_name"])

In [90]:
ty_schools= school_data.set_index("school_name")['type']
#ty_schools

In [84]:
t_student= school_name['Student ID'].count()
#t_student

In [89]:
t_budget = school_data.set_index('school_name')["budget"]
#t_budget

In [91]:
t_budget_student = school_data.set_index("school_name")["budget"]/school_data.set_index("school_name")["size"]
#t_budget_student

In [107]:
a_math = school_name['math_score'].mean()
#a_math

In [108]:
a_reading = school_name['reading_score'].mean()
#a_reading

In [129]:
s_pass_math = school_data_complete[school_data_complete['math_score']>=70].groupby(['school_name']).size()
s_pass_math = (s_pass_math/t_student)
s_pass_math

school_name
Bailey High School       0.666801
Cabrera High School      0.941335
Figueroa High School     0.659885
Ford High School         0.683096
Griffin High School      0.933924
Hernandez High School    0.667530
Holden High School       0.925059
Huang High School        0.656839
Johnson High School      0.660576
Pena High School         0.945946
Rodriguez High School    0.663666
Shelton High School      0.938671
Thomas High School       0.932722
Wilson High School       0.938677
Wright High School       0.933333
dtype: float64

In [130]:
s_pass_read = school_data_complete[school_data_complete['reading_score']>=70].groupby(['school_name']).size()
s_pass_read = (s_pass_read/t_student)
#s_pass_read

In [131]:
o_pass = (s_pass_math + s_pass_read)/2
#o_pass

In [140]:
summ_by_school = pd.DataFrame({"School Type": ty_schools, "Total Students":t_student, 
                               "Total School Budget": t_budget, "Per Student Budget": t_budget_student,
                               "Average Math Score": a_math, "Average Reading Score": 
                               a_reading, "Percent Passing Math": p_pass_math, 
                               "Percentage Passing Reading": s_pass_read, "Overall Passing Rate": o_pass})

summ_by_school["Total School Budget"] = summ_by_school["Total School Budget"].map("${:.2f}".format)
summ_by_school["Per Student Budget"] = summ_by_school["Per Student Budget"].map("${:.2f}".format)
summ_by_school["Average Math Score"] = summ_by_school["Average Math Score"].map("%{:.2f}".format)
summ_by_school["Average Reading Score"] = summ_by_school["Average Reading Score"].map("%{:.2f}".format)
summ_by_school["Percent Passing Math"] = summ_by_school["Percent Passing Math"].map("%{:.2f}".format)
summ_by_school["Percentage Passing Reading"] = summ_by_school["Percentage Passing Reading"]*100
summ_by_school["Percentage Passing Reading"] = summ_by_school["Percentage Passing Reading"].map("%{:.2f}".format)
summ_by_school["Overall Passing Rate"] = summ_by_school["Overall Passing Rate"]*100
summ_by_school["Overall Passing Rate"] = summ_by_school["Overall Passing Rate"].map("%{:.2f}".format)

summ_by_school

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Percent Passing Math,Percentage Passing Reading,Overall Passing Rate
Bailey High School,District,4976,$3124928.00,$628.00,%77.05,%81.03,%66.68,%81.93,%74.31
Cabrera High School,Charter,1858,$1081356.00,$582.00,%83.06,%83.98,%94.13,%97.04,%95.59
Figueroa High School,District,2949,$1884411.00,$639.00,%76.71,%81.16,%65.99,%80.74,%73.36
Ford High School,District,2739,$1763916.00,$644.00,%77.10,%80.75,%68.31,%79.30,%73.80
Griffin High School,Charter,1468,$917500.00,$625.00,%83.35,%83.82,%93.39,%97.14,%95.27
Hernandez High School,District,4635,$3022020.00,$652.00,%77.29,%80.93,%66.75,%80.86,%73.81
Holden High School,Charter,427,$248087.00,$581.00,%83.80,%83.81,%92.51,%96.25,%94.38
Huang High School,District,2917,$1910635.00,$655.00,%76.63,%81.18,%65.68,%81.32,%73.50
Johnson High School,District,4761,$3094650.00,$650.00,%77.07,%80.97,%66.06,%81.22,%73.64
Pena High School,Charter,962,$585858.00,$609.00,%83.84,%84.04,%94.59,%95.95,%95.27
Rodriguez High School,District,3999,$2547363.00,$637.00,%76.84,%80.74,%66.37,%80.22,%73.29
Shelton High School,Charter,1761,$1056600.00,$600.00,%83.36,%83.73,%93.87,%95.85,%94.86
Thomas High School,Charter,1635,$1043130.00,$638.00,%83.42,%83.85,%93.27,%97.31,%95.29
Wilson High School,Charter,2283,$1319574.00,$578.00,%83.27,%83.99,%93.87,%96.54,%95.20
Wright High School,Charter,1800,$1049400.00,$583.00,%83.68,%83.95,%93.33,%96.61,%94.97

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [139]:
top_5 = summ_by_school.sort_values(by=['Overall Passing Rate'], ascending=False)
top_5. head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Percent Passing Math,Percentage Passing Reading,Overall Passing Rate
Cabrera High School,Charter,1858,$1081356.00,$582.00,%83.06,%83.98,%94.13,%0.97,%95.59
Thomas High School,Charter,1635,$1043130.00,$638.00,%83.42,%83.85,%93.27,%0.97,%95.29
Griffin High School,Charter,1468,$917500.00,$625.00,%83.35,%83.82,%93.39,%0.97,%95.27
Pena High School,Charter,962,$585858.00,$609.00,%83.84,%84.04,%94.59,%0.96,%95.27
Wilson High School,Charter,2283,$1319574.00,$578.00,%83.27,%83.99,%93.87,%0.97,%95.20

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [150]:
bottom_5 = summ_by_school.sort_values(by=["Overall Passing Rate"])
bottom_5.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Percent Passing Math,Percentage Passing Reading,Overall Passing Rate
Rodriguez High School,District,3999,$2547363.00,$637.00,%76.84,%80.74,%66.37,%80.22,%73.29
Figueroa High School,District,2949,$1884411.00,$639.00,%76.71,%81.16,%65.99,%80.74,%73.36
Huang High School,District,2917,$1910635.00,$655.00,%76.63,%81.18,%65.68,%81.32,%73.50
Johnson High School,District,4761,$3094650.00,$650.00,%77.07,%80.97,%66.06,%81.22,%73.64
Ford High School,District,2739,$1763916.00,$644.00,%77.10,%80.75,%68.31,%79.30,%73.80

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Percent Passing Math,Percentage Passing Reading,Overall Passing Rate
Rodriguez High School,District,3999,$2547363.00,$637.00,%76.84,%80.74,%66.37,%80.22,%73.29
Figueroa High School,District,2949,$1884411.00,$639.00,%76.71,%81.16,%65.99,%80.74,%73.36
Huang High School,District,2917,$1910635.00,$655.00,%76.63,%81.18,%65.68,%81.32,%73.50
Johnson High School,District,4761,$3094650.00,$650.00,%77.07,%80.97,%66.06,%81.22,%73.64
Ford High School,District,2739,$1763916.00,$644.00,%77.10,%80.75,%68.31,%79.30,%73.80

## Reading Score by Grade

* Perform the same operations as above for reading scores

                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,83.46,83.93,93.46,96.61,90.37
$585-630,81.90,83.16,87.13,92.72,81.42
$630-645,78.52,81.62,73.48,84.39,62.86
$645-680,77.00,81.03,66.16,81.13,53.53

## Scores by School Size

* Perform the same operations as above, based on school size.

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,89.883853
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,90.621535
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,58.286003

## Scores by School Type

* Perform the same operations as above, based on school type

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,90.432244
District,76.956733,80.966636,66.548453,80.799062,53.672208