### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [36]:
# Dependencies and Setup
import pandas as pd
import numpy as np

In [37]:
# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [38]:
# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [39]:
# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [40]:
# Find the school names
school_data_complete["school_name"]. value_counts()

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [41]:
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [42]:
total_school_1 = school_data_complete ['school_name'].nunique()
print(total_school_1)

15

In [43]:
total_student_1 = school_data_complete ['student_name'].nunique()
print(total_student_1)

32715

In [44]:
total_budget_1 = school_data_complete ['budget'].sum()
print(total_budget_1)

82932329558

## District Summary

* Calculate the total number of schools = Sweet

* Calculate the total number of students = Sweet

* Calculate the total budget = Sweet

* Calculate the average math score = Sweet 

* Calculate the average reading score =Sweet

* Calculate the percentage of students with a passing math score (70 or greater) = Sweet

* Calculate the percentage of students with a passing reading score (70 or greater) = Sweet

* Calculate the percentage of students who passed math **and** reading (% Overall Passing) =Sweet

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [45]:
total_student = school_data_complete["student_name"].count()
(total_student)

39170

In [46]:
average_math_score = school_data_complete["math_score"].mean()
print (average_math_score)

78.98537145774827

In [47]:
average_reading_score = school_data_complete["reading_score"].mean()
print (average_reading_score)

81.87784018381414

In [48]:
math_pass = school_data_complete.loc[school_data_complete["math_score"]>=70]["math_score"].count()
print (math_pass)

29370

In [49]:
math_p = math_pass/total_student
print (math_p)

0.749808526933878

In [50]:
reading_pass = school_data_complete.loc[school_data_complete["reading_score"]>=70]["reading_score"].count()
print (reading_pass)

33610

In [51]:
 reading_p = reading_pass/total_student
print (reading_p)

0.8580546336482001

In [52]:
overall_p = (math_p+reading_p)/2
print(overall_p)

0.8039315802910391

In [53]:
district_synopsis = pd.DataFrame({"Total Schools": [total_school_1], "Total Students":[total_student_1], 
                                   "Total Budget":[total_budget_1], "Average Math Score":[math_p], 
                                   "Average Reading Score":[reading_p], "% Passing Math" :[average_math_score],
                                   "% Passing Reading": [average_reading_score], "% Overall Passing": [overall_p]})

district_synopsis["Total Students"] = district_synopsis["Total Students"].map("{:,}".format)
district_synopsis["Total Budget"] = district_synopsis["Total Budget"].map("${:.2f}".format)
district_synopsis["Average Math Score"] = district_synopsis["Average Math Score"]*100
district_synopsis["Average Math Score"] = district_synopsis["Average Math Score"].map("%{:.2f}".format)
district_synopsis["Average Reading Score"] = district_synopsis["Average Reading Score"]*100
district_synopsis["Average Reading Score"] = district_synopsis["Average Reading Score"].map("%{:.2f}".format)
district_synopsis["% Passing Math"] = district_synopsis["% Passing Math"].map("%{:.2f}".format)
district_synopsis["% Passing Reading"] = district_synopsis["% Passing Reading"].map("%{:.2f}".format)
district_synopsis["% Overall Passing"] = district_synopsis["% Overall Passing"]*100
district_synopsis["% Overall Passing"] = district_synopsis["% Overall Passing"].map("%{:.2f}".format)

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [84]:
school_names = school_data_complete.set_index("school_name").groupby(["school_name"])

In [85]:
ty_schools= school_data.set_index("school_name")['type']
ty_schools

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [87]:
t_student= school_names['Student ID'].count()
t_student

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [295]:
t_budget = school_data.set_index('school_name')["budget"]
#t_budget

In [294]:
t_budget_student = school_data.set_index("school_name")["budget"]/school_data.set_index("school_name")["size"]
#t_budget_student

In [293]:
a_math = school_names['math_score'].mean()
#a_math

In [292]:
a_reading = school_names['reading_score'].mean()
#a_reading

In [291]:
s_pass_math = school_data_complete[school_data_complete['math_score']>=70].groupby(['school_name']).size()
s_pass_math = (s_pass_math/t_student)
#s_pass_math

In [92]:
s_pass_read = school_data_complete[school_data_complete['reading_score']>=70].groupby(['school_name']).size()
s_pass_read = (s_pass_read/t_student)
#s_pass_read

In [93]:
o_pass = (s_pass_math + s_pass_read)/2
#o_pass

In [289]:
summ_by_school = pd.DataFrame({"School Type": ty_schools, "Total Students":t_student, 
                               "Total School Budget": t_budget, "Per Student Budget": t_budget_student,
                               "Average Math Score": a_math, "Average Reading Score": 
                               a_reading, "Percent Passing Math": s_pass_math, 
                               "Percentage Passing Reading": s_pass_read, "Overall Passing Rate": o_pass})

summ_by_school["Total School Budget"] = summ_by_school["Total School Budget"].map("${:.2f}".format)
summ_by_school["Per Student Budget"] = summ_by_school["Per Student Budget"].map("${:.2f}".format)
summ_by_school["Average Math Score"] = summ_by_school["Average Math Score"].map("%{:.2f}".format)
summ_by_school["Average Reading Score"] = summ_by_school["Average Reading Score"].map("%{:.2f}".format)
summ_by_school["Percent Passing Math"] = summ_by_school["Percent Passing Math"]*100
summ_by_school["Percent Passing Math"] = summ_by_school["Percent Passing Math"].map("%{:.2f}".format)
summ_by_school["Percentage Passing Reading"] = summ_by_school["Percentage Passing Reading"]*100
summ_by_school["Percentage Passing Reading"] = summ_by_school["Percentage Passing Reading"].map("%{:.2f}".format)
summ_by_school["Overall Passing Rate"] = summ_by_school["Overall Passing Rate"]*100
summ_by_school["Overall Passing Rate"] = summ_by_school["Overall Passing Rate"].map("%{:.2f}".format)

#summ_by_school

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [290]:
top_5 = summ_by_school.sort_values(by=['Overall Passing Rate'], ascending=False)
#top_5. head(5)

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [288]:
bottom_5 = summ_by_school.sort_values(by=["Overall Passing Rate"])
#bottom_5.head()

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [216]:
nine = student_data.loc[student_data["grade"] == "9th"].groupby("school_name")["math_score"].mean()
ten = student_data.loc[student_data["grade"] == "10th"].groupby("school_name")["math_score"].mean()
eleven = student_data.loc[student_data["grade"] == "11th"].groupby("school_name")["math_score"].mean()
twelve = student_data.loc[student_data["grade"] == "11th"].groupby("school_name")["math_score"].mean()

In [287]:
total_math_grade = pd.DataFrame({"9th": nine, "10th": ten, "11th": eleven, "12th": twelve})
total_math_grade["9th"] = total_math_grade["9th"].map("%{:.2f}".format)
total_math_grade["10th"] = total_math_grade["10th"].map("%{:.2f}".format)
total_math_grade["11th"] = total_math_grade["11th"].map("%{:.2f}".format)
total_math_grade["12th"] = total_math_grade["12th"].map("%{:.2f}".format)
#total_math_grade

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [286]:
nine = student_data.loc[student_data["grade"] == "9th"].groupby("school_name")["reading_score"].mean()
ten = student_data.loc[student_data["grade"] == "10th"].groupby("school_name")["reading_score"].mean()
eleven = student_data.loc[student_data["grade"] == "11th"].groupby("school_name")["reading_score"].mean()
twelve = student_data.loc[student_data["grade"] == "11th"].groupby("school_name")["reading_score"].mean()

total_reading = pd.DataFrame({"9th": nine, "10th": ten, "11th": eleven, "12th": twelve})
total_reading["9th"] = total_reading["9th"].map("%{:.2f}".format)
total_reading["10th"] = total_reading["10th"].map("%{:.2f}".format)
total_reading["11th"] = total_reading["11th"].map("%{:.2f}".format)
total_reading["12th"] = total_reading["12th"].map("%{:.2f}".format)
#total_reading

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [204]:
# Use this Information to collect accurate Bins
t_budget_student

In [ ]:
# Use Describe function to find quartile range
t_budget_student.describe()
s_bins = [0,578,600,637,655]
bin_labels = ['$0-578', '$579-600', '$601-637', '$638-655']

In [205]:
#segement and sort data Values in Bins
school_data_complete["s_bins"] = pd.cut(school_data_complete["budget"]/school_data_complete["size"], s_bins, labels =
                                        bin_labels)

In [206]:
#Group the spending bins together
grouped_s = school_data_complete.groupby("s_bins")

In [284]:
# combine the group with Average Math Score
math_a = grouped_s["math_score"].mean()
#math_a

In [285]:
#combine the group with Average Reading Score
r_avg = grouped_s["reading_score"].mean()
#r_avg

In [186]:
#Combine the %Passing reading with the group
Percent_passing_m = school_data_complete[school_data_complete["math_score"] >=70].groupby("s_bins")["Student ID"].count()/grouped_s["Student ID"].count()

In [187]:
#Combine the %Passing reading with the group
Percent_passing_reading = school_data_complete[school_data_complete["reading_score"] >=70].groupby("s_bins")["Student ID"].count()/grouped_s["Student ID"].count()

In [272]:
# lastly, overall passing
over_pass = (Percent_passing_m + Percent_passing_m)/2
#over_pass

In [273]:
#place the results in a data Frame
spend_per_school = pd.DataFrame({"Average Math Score": math_a, "Average Reading Score": r_avg, "% Passing Math": Percent_passing_m,
                                "% Passing Reading": Percent_passing_reading, "Overall Passing Rate": over_pass})

In [274]:
spend_per_school["Average Math Score"] = spend_per_school["Average Math Score"].map("%{:.2f}".format)
spend_per_school["Average Reading Score"] = spend_per_school["Average Reading Score"].map("%{:.2f}".format)
spend_per_school["% Passing Math"] = spend_per_school["% Passing Math"]*100
spend_per_school["% Passing Math"] = spend_per_school["% Passing Math"].map("%{:.2f}".format)
spend_per_school["% Passing Reading"] = spend_per_school["% Passing Reading"]*100
spend_per_school["% Passing Reading"] = spend_per_school["% Passing Reading"].map("%{:.2f}".format)
spend_per_school["Overall Passing Rate"] = spend_per_school["Overall Passing Rate"]*100
spend_per_school["Overall Passing Rate"] = spend_per_school["Overall Passing Rate"].map("%{:.2f}".format)
#spend_per_school

## Scores by School Size

* Perform the same operations as above, based on school size.

In [275]:
size_bins = [0,1000,2000,5000]
bin_labels_2 = ["Small (<1000)", "Medium (<1000)", "Large (2000-5000)"]

In [276]:
school_data_complete["size_bins"] = pd.cut(school_data_complete["size"], size_bins, labels = bin_labels_2)

In [277]:
grouped_size = school_data_complete.groupby("size_bins")

In [278]:
#combine the group with Average Math Score
math_a_2 = grouped_size["math_score"].mean()
#math_a_2

In [279]:
#combine the group with Average Reading Score
r_avg_2 = grouped_size["reading_score"].mean()
#r_avg_2

In [280]:
#Combine the %Passing math with the group
Percent_passing_m_2 = school_data_complete[school_data_complete["math_score"] >=70].groupby("size_bins")["Student ID"].count()/grouped_size["Student ID"].count()*100
#Percent_passing_m_2

In [281]:
#Combine the %Passing reading with the group
Percent_passing_reading_2 = school_data_complete[school_data_complete["reading_score"] >=70].groupby("size_bins")["Student ID"].count()/grouped_size["Student ID"].count()*100
#Percent_passing_m_2

In [282]:
# lastly, overall passing
over_pass_2 = (Percent_passing_m_2 + Percent_passing_m_2)/2
#over_pass_2

In [283]:
#Create the datafram
size_per_school = pd.DataFrame({"Average Math Score": math_a_2, "Average Reading Score": r_avg_2, "% Passing Math": Percent_passing_m_2,"% Passing Reading": Percent_passing_reading_2, "Overall Passing Rate": over_pass_2})
#size_per_school

## Scores by School Type

* Perform the same operations as above, based on school type

In [245]:
score_b_t=pd.DataFrame

,Student ID,reading_score,math_score,School ID,size,budget
type,,,,,,
Charter,19438.475398,83.902821,83.406183,6.964163,1717.352468,1.024543e+06
District,19650.507711,80.962485,76.987026,6.984505,4063.261195,2.611175e+06

KeyError: 'budget'